@import '~styles/variables.scss';
@import '~styles/mixins.scss';
@import '~styles/colors.scss';
@import '../../../node_modules/react-image-gallery/src/ImageGallery';

.user-info {
  &__window {
    $width: 500px;
    $height: 400px;

    z-index: 15;

    overflow: hidden;

    max-width: $width;
    margin: 0 auto;

    border: 1px solid $c-login-window_border;
    border-radius: $main-border-radius;
    background-color: $c-login-window_bg;
    box-shadow: 0 0 30px 2px $c-main-shadow;

    font-size: 20px;
  }
  &__overlay {
    position: fixed;
    z-index: 14;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .7);
  }

  &__header {
    width: 100%;

    text-align: center;

    border-bottom: solid 1px $c-login-window_border;
    box-shadow: inset 0 2px 0 #00b0e0;

    font-size: 1.1em;
    line-height: 60px;
  }

  &__back {
    width: 400px;
    max-height: 500px;
    padding: 15px;

    font-size: 16px;
  }

  &__avatar {
    display: block;

    width: 80px;
    margin: 0 auto;

    border-radius: 5px;
  }

  &__field-name {
    float: left;

    width: 145px;
    height: 10%;

    text-align: right;

    color: $c-gray-70;
  }

  &__field-value {
    height: 10%;
    margin-left: 160px;
  }

  &__info {
    margin-top: 30px;
  }

  &__info-title {
    margin-bottom: 5px;

    text-align: center;

    color: $c-gray-70;
  }

  &__info-content {
    padding: 10px;

    text-indent: 20px;

    line-height: 20px;
  }
}
