@import '~styles/variables.scss';

.settings {
  &__form {
    padding: 40px 75px;
  }
  &__info-message {
    margin-bottom: 10px;

    font-size: .9em;
  }
  &__input {
    margin-top: 10px;

    line-height: 40px;

    &_country {
      width: 48%;
      margin-right: 4%;
    }

    &_city {
      width: 48%;
    }

    &_fullname {
      width: 75%;
    }

    &_age {
      width: 20%;
      margin-left: 5%;
    }

    &_about {
      position: relative;

      width: 100%;
      height: 140px;
      padding: 10px 15px;

      resize: none;

      border: 1px solid $—Å-composer-sender_border;
      border-radius: 5px;
      outline: none;
      background-color: $c-input_bg;

      font-size: 16px;
      line-height: 16px;

      &:focus {
        border: 1px solid $c-input_focus;
        box-shadow: 0 0 5px transparentize($c-input_focus, .5);
      }
    }
  }
  &__submit-button {
    margin-top: 20px;
  }
  &__tabs {
    border-bottom: solid 1px $c-login-window_border;

    font-size: 1.1em;
    line-height: 60px;
  }
  &__window {
    $width: 500px;
    $height: 600px;

    position: absolute;
    z-index: 15; // highly then .login-page__rect
    top: 50%;
    left: 50%;

    overflow: hidden;

    width: $width;
    height: $height;
    margin-top: -$height / 2;
    margin-left: -$width / 2;

    border: 1px solid $c-login-window_border;
    border-radius: $main-border-radius;
    background-color: $c-login-window_bg;
    box-shadow: 0 0 30px 2px $c-main-shadow;

    font-size: 20px;
  }
  &__overlay {
    position: fixed;
    z-index: 14;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .7);
  }
}
