@import '~styles/variables.scss';
@import '~styles/colors.scss';


@keyframes bounce {
  0% {
    transform: scale(1,1) translateY(0);
  }
  15% {
    transform: scale(1,.8) translateY(7px);
  }
  30% {
    transform: scale(1,1.1) translateY(-14px);
  }
  45% {
    transform: scale(1,1) translateY(0);
  }
}


.composer {
  position: fixed;
  right: 0;
  bottom: 0;

  width: calc(100vw - #{$threads_width});

  background: $c-main_bg;

  @media (max-width: $mobile_width) {
    width: 100vw;
  }

  &__sender {
    position: relative;

    margin: 5px 15px 15px 15px;

    border: 1px solid $с-composer-sender_border;
    border-radius: 5px;
    background-color: $с-composer-sender_bg;

    &_drag-on {
      border-color: $c-blue;
    }
  }

  &__send-button {
    position: absolute;
    right: 3px;
    bottom: 10px;

    width: 60px;

    color: $c-composer-send-button_text;
    border: none;
    outline: none;
    background: none;
  }

  &__textarea {
    position: relative;

    width: calc(100% - 63px);
    margin: 10px;
    padding-right: 28px;

    resize: none;

    color: $c-composer-textarea_text;
    border: none;
    outline: none;
    background-color: $с-composer-sender_bg;
  }

  &__info {
    position: absolute;
    top: -11px;
    right: 5px;

    min-width: 21px;
    padding-right: 5px;
    padding-left: 5px;

    text-align: center;

    color: white;
    border-radius: 11px;
    background: $c-blue;

    font-size: 12px;
    line-height: 21px;

    &_error {
      animation: bounce 2s linear infinite;

      background: $c-red;
    }
  }

  &__upload-button {
    position: absolute;
    right: 3px + 55px;
    bottom: 10px;

    width: 20px;
    height: 20px;

    cursor: pointer;

    background: url('./clip.svg') no-repeat;
    background-size: 15px;
  }



  &__preview {
    margin-right: 80px;
    padding: 0 5px;
  }
}
