@import '~styles/variables.scss';
@import '~styles/mixins.scss';
@import '~styles/colors.scss';

.embedly {
  max-width: 100%;
  margin: 10px 0;
  padding: 10px;

  border-left: 10px solid white;
  border-radius: 5px;
  background: darken($c-message-cloud-default_bg, 3);

  &_other {
    background: darken($c-message-cloud-other_bg, 3);
  }

  &__title {
    margin: 0;
    padding: 0;
  }

  &__image {
    float: left;

    width: 50%;
    margin-right: 10px;
  }

  &__image_simple {
    float: none;

    width: 90%;
  }


  &__descr {
    @extend .clearfix;
  }

  &__link {
    color: white;
  }

  &__video {
    position: relative;

    overflow: hidden;

    min-width: 370px;
    height: 0;
    padding-top: 30px;
    padding-bottom: 56.25%;
    @media (max-width: $message_cloud_width + $messages_avatar_left_padding) {
      min-width: 100%;
    }

    & iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }
}
